<!--The content below is only a placeholder and can be replaced.-->
<h1>hot Observables</h1>
1st List
<ul>
  <li *ngFor="let contact of contacts$ | async">{{contact.name}}!</li>
</ul>
2st List
<ul>
  <li *ngFor="let contact of contacts2$ | async">{{contact.name}}!</li>
</ul>
<hr>
<button (click)="show = !show">toggle service component</button>
<app-service-test *ngIf="show"></app-service-test>
<hr>
<button (click)="show2 = !show2">toggle service pipe</button>
<span *ngIf="show2">{{content | testPipe}}</span>
